* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Lato", sans-serif;
  background: url("/static/images/back.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  font-weight: 700;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2.5em;
}
input[type="url"] {
  font-weight: 300;
}
