<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee and WiFi</title>
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-5 my-3 h5">
                <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item mx-5 my-3 h5">
                <a class="nav-link" href="{{url_for('cafe_list')}}">Cafes</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-lg">
        <h1 class="display-1 text-center centre-heading">Cafe and WiFi</h1>
        <p class="lead text-center">This is a webisite about cafes where you can enjoy coffee and work</p>
    </div>
    <footer>
        <p class="text-center">Made with 🤍 2021</p>
    </footer>
    
</body>
</html>