<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>My Portfolio</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Style+Script&family=Montserrat:wght@200&Roboto:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="../images/logo.png" alt="logo" />
        <ul>
          <li><a href="index.html" class="navlinks">Home</a></li>
          <li><a href="contact.html" class="navlinks">Contact Me</a></li>
        </ul>
      </div>
      <div class="centre">
        <div class="top-title">
          <div class="top-title-text">
            <h1>I'm Saumil</h1>
            <h2>An electrical enginner</h2>
          </div>
        </div>
        <div class="portfolio-content">
          <p class="intro">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
            quia sequi facilis voluptate commodi. Nisi animi aliquam, recusandae
            repellendus ab laudantium ipsa fugit quos laboriosam blanditiis, est
            non facilis quod itaque. Culpa sint praesentium magni quia aliquid
            possimus blanditiis, nihil tenetur ducimus dolorem, ut ullam nobis
            iste laboriosam excepturi, dolores corrupti neque. Repudiandae
            placeat tenetur atque delectus, magnam error nam necessitatibus,
            eveniet fugit similique architecto quasi quis non, hic aperiam rem
            tempora? Aliquid, nulla itaque?
          </p>
          <table>
            <tr>
              <td>
                <div class="short-summary">
                  <h5>Education</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Corporis molestiae nulla mollitia vero provident repellendus
                    deleniti optio veniam. Unde, blanditiis vero! Voluptatum ad
                    delectus cumque.
                  </p>
                </div>
              </td>
              <td>
                <img
                  src="/images/grad.png"
                  alt="education-img"
                  class="port-img"
                />
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="/images/project.png"
                  alt="project-img"
                  class="port-img"
                />
              </td>
              <td>
                <div class="short-summary">
                  <h5>Projects</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Corporis molestiae nulla mollitia vero provident repellendus
                    deleniti optio veniam. Unde, blanditiis vero! Voluptatum ad
                    delectus cumque.
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="short-summary">
                  <h5>Skills</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Corporis molestiae nulla mollitia vero provident repellendus
                    deleniti optio veniam. Unde, blanditiis vero! Voluptatum ad
                    delectus cumque.
                  </p>
                </div>
              </td>
              <td>
                <img
                  src="/images/skills.png"
                  alt="project-img"
                  class="port-img"
                />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="footer">
        <p class="footer-text">Made with 🤍 in 2021</p>
      </div>
    </div>
  </body>
</html>
